<!-- <hr /> -->
<footer class="footer footer-center width-full container-xl p-4 bg-base-300 text-base-content">
    <div>
        <p>Copyright © 2023 - All right reserved by Andrew Chaney.</p>
    </div>
</footer>
</body>

</html>